{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h2>{{ user.username }}'s Profile</h2>
            {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" class="img-thumbnail" alt="{{ user.username }}">
            {% endif %}
            <p>Email: {{ user.email }}</p>

            {% if request.user == user %}
            <a href="{% url 'update_profile' %}" class="btn btn-secondary">Edit Profile</a>
            {% endif %}

            <hr>
            <h4>{{ user.username }}'s Tweets</h4>
            {% for tweet in user.tweet_set.all %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p>{{ tweet.content }}</p>
                        <small class="text-muted">Posted on {{ tweet.created_at }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
